.container {
    display: flex;
    justify-content: flex-start;
    max-width: 720px;
    height: 750px;
    background-color: #fff;
    margin-left: 550px;
    border-radius: 20px;
    margin-top: 3rem;
}

.itemContainer{
    margin-left: 2rem;
    margin-top: 3rem;
}

.title{
    font-weight: bold;    
    font-size: 20px;
    text-decoration-line: underline;
}

.card{
    margin-top: 3rem;
    background-color: #fff;
    height: auto; 
    width: 500px;
    border-radius: 20px;
    border: 2px solid #ddd;
}

.cardTitle{
    font-weight: bold;    
    padding: 1rem;
    text-decoration-line: underline;
}

.subTitle{ 
    padding-left: 1rem;
}

.titleServicoPrestado{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;        
}

.buttonContainer{
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
    
}

.buttonFinalizar{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD666;
    color: #8D734B;
    border: 1px solid #D3E2E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 130px;
    height: 35px;
    font-weight: bold; 
    font-size: 14px;
    cursor: pointer;
}