.container {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    height: 1200px;
    background-color: #fff;
    margin-left: 550px;
    border-radius: 20px;
    margin-top: 3rem;
}

.imagemContainer{
    padding: 0.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
    background-color: #D3E2E5;
    width: 260px;
    height: 260px;
    border-radius: 8px;
}

.label {
    width: 100%;
    height: 230px;
    padding-top: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.input{
    display: none;
}

.span {
    z-index: 99;
    position: absolute;
    opacity: 0.7;
    transition: all 0.7s;
}

.span:hover{
    opacity: 1;
    transform: scale(1.1)
}

.preview{
    width: 100%;
    height: 100%;    
    object-fit: cover;
    border-radius: 0.3rem;
}

.nome{
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 24px;
    font-weight: bold
}

.containerCards{
    font-size: 20px;
    padding-left: 2rem;
    padding-top: 3rem;
    font-weight: 600;
}

.cardDadosDaConta{
    margin-top: 1rem;
    height: 140px;
    width: 90%;
    border: 2px solid #D3E2E5;
    border-radius: 20px;
    padding: 1rem;
    background-color: #fff;
}

.DadosContaTitle{
    margin-bottom: 1rem;
}

.DadosInfos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.DadosContaSubTitle{
    font-size: 16px;
}

.cardDadosPessoais{
    margin-top: 1rem;
    height: 265px;
    width: 90%;
    border: 2px solid #D3E2E5;
    border-radius: 20px;
    padding: 1rem;
    background-color: #fff;
}

.DadosPessoaisTitle{
    margin-bottom: 1rem;
}

.DadosPessoaisSubTitle{
    font-size: 16px;
    margin-bottom: 1rem;
}

.cardSobreMim{
    margin-top: 1rem;
    height: 220px;
    width: 90%;
    border: 2px solid #D3E2E5;
    border-radius: 20px;
    padding: 1rem;
    background-color: #fff;
}

.TextAreaSobreMim{
    border-radius: 0.3rem;
    min-height: 140px;
    resize: none;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid;
    color: #1d1d2e;
}

.button{
    display: flex;    
    justify-content: center;
    align-items: center;
    background-color: #29B6D1;
    margin-top: 2rem;
    height: 36px;
    width: 90%;
    border-radius: 16px;
    color: #fff;
    transition: 0.5s;
}

.button:hover{
    background-color: #30dcff;
}