.container {
    max-width: 720px;
    height: auto;
    background-color: #fff;
    margin-left: 550px;
    border-radius: 20px;
    margin-top: 3rem;
}

.containertitle{
    font-size: 20px;
    padding-left: 3rem;
    padding-top: 4rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.novoServico{
    padding-right: 3rem;
}

/* ----------- Styles do map  */

.cardContainer{
    display: flex;    
    flex-direction: column;
    width: 86%;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

.card{    
    padding: 1rem;
    margin-left: 3rem;
    margin-top: 1rem;
    height: auto;
    border: 1px black solid;
    border-radius: 20px;
    width: 100%;
}

.titleFiEditContainer{
    display: flex;
    justify-content: space-between;
}

.linhaHorizontal{    
    width: 100%;
    border: 0.5px solid #1d1d2e;
    margin-bottom: 1rem;
}

.servicosAgendaContainer{
    display: flex;
    flex-flow: row wrap;
    
}

.servicosAgenda{
    width: 50%;
    margin-bottom: 0.5rem
}

.tipoServicoText{
    font-weight: bold;
    font-size: 20px;
}

.itemsSubTitles{
    font-weight: bold;
    font-size: 18px;
    margin-top: 1rem;
}

.buttons{
    text-align: center;
    margin-top: 3rem;
}


