.button{
    max-width: 600px;
    background-color: #FFD666;
    border: 0;
    padding: 0.4rem;
    color: #fff;
    border-radius: 0.5rem;
    transition: filter 0.2s;
    display: flex;    
    justify-content: center;
    align-item: center;

    /* &[disabled]{
        cursor: not-allowed;
        svg{
            animation: animate 2s infinite;
        }
    }
    &:hover{
        filter: brightness(1.08);
    } */
}

.buttonText{
    color: #8D734B;
}


/* @keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} */