.container{
    position: absolute;
    width: 720px;
    height: 600px;
    left: 50vh;
    top: 26px;
    background: #fff;
    border-radius: 20px;
}

.containerOpcoes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem;
    flex-direction: column;
    min-height: 50vh;
}

